/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.col {
  width: 100%;
  line-height: 30px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: grey;
}

/* ________ HEADER ________ */
/* NAVBAR */
nav {
  height: 70px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.col ul li {
  display: inline-block;
}
.col ul li a:hover {
  color: #191c1f;
  font-weight: bold;
}

/* logo */
.logo {
  width: 15%;
}
.logo img {
  height: 100%;
}

/* nav left */
.nav-left {
  width: 50%;
}
.nav-left ul li {
  padding-right: 20px;
}

/* nav right */
.nav-right {
  text-align: right;
}
.nav-right ul li {
  padding-left: 20px;
    position: relative;
}
.nav-right ul li .fa-angle-down {
  font-size: 10px;
  padding-left: 10px;
}
.nav-right ul li .fa-angle-up {
  font-size: 10px;
  padding-left: 10px;
}

/* dropdown */
.nav-right .menu-right .dropdown {
  position: absolute;
  top: 100%;
  left: 70%;
  transform: translateX(-50%);
  text-align: left;
  box-shadow: 0px 3px 8px 5px rgba(0,0,0,0.05);
  display: none;
}
.nav-right .menu-right .dropdown li {
  padding: 5px 25px;
}
.nav-right .menu-right .dropdown li.nuovo::after {
  position: absolute;
  top: -3px;
  content: 'Nuovo';
  font-size: 11px;
  font-weight: bold;
  color: blue;
  padding-left: 2px;
}

.nav-right .menu-right .dropdown.active {
  display: block;
}

/* download */
.download {
  width: 30%;
  text-align: right;
}

.btn a {
  padding: 0px 20px;
  border-radius: 15px;
  font-weight: bold;
  display: inline-block;
}

.btn.download a {
  background-color: #ff008b;
  color: white;
}
.btn.download a:hover {
  background-color: #c10069;
}
